# LangChain v1.0+ core
langchain
langgraph
langchain-core
langchain_community

# LLM and partners
langchain-google-genai

# Web services
fastapi
uvicorn

# Memory
langgraph-checkpoint-redis

# tools
python-dotenv
requests
nest_asyncio
isoduration
from_root
pydantic